* {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#0b0c10, #1f2833);
}

header {
    background: #66fcf1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin-bottom: 20px;
}

.main-text {
    color: #45a29e;
    font-size: 6rem;
}

.text {
    font-size: 4em;
    color: white;
}

.wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
    padding-bottom: 30px;
}

.new-game-btn {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 12rem;
    height: 6rem;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    background: #45a29e;
    color: white;
    transition-duration: 0.5s;
}

.new-game-btn:hover {
    background: #6bcac5;
}

#board {
    border: 3px black solid;
    width: 60%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.space {
    border: 1px black solid;
    width: 33.33%;
    height: 33.33%;
}

.btn-letter {
    width: 100%;
    height: 101%;
    font-size: 4.5rem;
    background: #eee;
    color: #45a29e;
    transition-duration: 0.5s;
}

.btn-letter:hover {
    background: #b4f5f2;
}

@media only screen and (min-width: 580px) {
    #board {
        height: 45%;
        width: 65%;
    }
}

@media only screen and (min-width: 750px) {
    #board {
        height: 50%;
        width: 50%;
    }
}

@media only screen and (min-width: 1120px) {
    #board {
        height: 50%;
        width: 45%;
    }

    .btn-letter {
        font-size: 4.3rem;
    }
}

@media only screen and (min-width: 1400px) {
    #board {
        height: 50%;
        width: 35%;
    }

    .btn-letter {
        font-size: 4.7rem;
    }
}

@media only screen and (min-width: 1630px) {
    #board {
        height: 45%;
        width: 30%;
    }

    .btn-letter {
        font-size: 4.7rem;
    }
}