* {
    box-sizing: border-box;
    font-family: 'Comforter Brush', cursive;
}

body {
    margin: 0;
    padding: 0;
}

#page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 4em;
}

.wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
}

#board {
    border: 3px black solid;
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.space {
    border: 1px black solid;
    width: 33.33%;
}

.btn-letter {
    width: 100%;
    height: 101%;
    font-size: 4rem;
    background: white;
}